* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Playfair';
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
    background-color: #B0D9CD;
    font-family: 'Playfair', sans-serif;
}

.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.imgGorro img {
    width: 100px;
}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 4vh;
}

#contagem-regressiva {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempo span {
    font-size: 8vh;
}

.tempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 4vh;
    color: #0D0D0D;
}

#barraProgresso {
    width: 400px;
    height: 20px;
    background-color: #eee;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

#progresso {
    height: 100%;
    width: 0;
    border-radius: 10px;
    /* transition: 5s linear; */
    background-size: 50px 50px;
    background-image: repeating-linear-gradient(-45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
    animation: move 2s linear infinite;
    overflow: hidden;

}

#barraProgresso>#progresso {
    background: repeating-linear-gradient(-45deg,
            #F2274C,
            #F2274C 10px,
            #EBEBFF 10px,
            #EBEBFF 20px);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    } 
}

@media screen and (max-width: 400px) {

    #barraProgresso {
        width: 290px;
    }

}